@model WWeb.UI.WebformMVC.Models.Configuracao
<div class="content_create">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(model => model.Id)

        <table style="width:100%;">
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Bloqueada)
                    </div>
                    <div class="editor-field">

                        @if (Model.Bloqueada.Value)
                        {
                            <input type="checkbox" name="cb_@(Model.Id)" checked="checked" class="check_all_item" />
                        }
                        else
                        {
                            <input type="checkbox" name="cb_@(Model.Id)" class="check_all_item" />
                        }
                    </div>
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Descricao)
                    </div>

                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Descricao)
                        @Html.ValidationMessageFor(model => model.Descricao)
                    </div>
                </td>
                <td>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Valor)
                    </div>

                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Valor)
                        @Html.ValidationMessageFor(model => model.Valor)
                    </div>
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Atualizar" />
        </p>
    }
</div>
