
@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
@System.Web.Optimization.Scripts.Render("~/bundles/jqueryui")
@System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
@System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
@System.Web.Optimization.Scripts.Render("~/bundles/wweb")
@System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
@System.Web.Optimization.Styles.Render("~/Content/popup")
<br /><br />
<div id="header">
    <div id="logotipo-orcozol" style="float:right;">
        <img src="~/Content/img/logotipo2.png" />
    </div>
</div>
<br /><br /><br />
<hr  style="border:none; border-bottom:2px dotted #CD0202; height:3px;"/>
<div style="background-color:#fff;">
    <div style="background-color:#fff; border-bottom:2px solid #CD0202; font-weight :normal; width:100%; padding:3px; font-size:12px; vertical-align:central; text-align:center; ">
        <h1>Você atingiu o total de conversas permitidas por usuário. <br />Finalize uma das negociações para iniciar a próxima.</h1>
    </div>
</div>

<br /><br /><br />
<a href="#" onclick="javascript:window.close()">Fechar</a>