@using MvcModalDialog
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<WWeb.UI.WebformMVC.Models.Cliente> cliente_sem_cpf = new List<WWeb.UI.WebformMVC.Models.Cliente>();
    List<WWeb.UI.WebformMVC.Models.Cliente> cliente_em_andamento = new List<WWeb.UI.WebformMVC.Models.Cliente>();

    try
    {
        foreach (var c in WWeb.UI.WebformMVC.WWebSessaoGlobal.ClientesEmNegociacao)
        {
            cliente_em_andamento.Add(c.ClienteConversando);
        }

        using (WWeb.UI.WebformMVC.Models.WWebEntities ctx = new WWeb.UI.WebformMVC.Models.WWebEntities())
        {
            cliente_sem_cpf = ctx.Cliente.Where(c => c.Cpf == null).ToList();
        }
    }
    catch { }
}

<div id="tabela" class="grid">
    <br />
    <div id="nome-pagina">
        » Acompanhamento Monitoria
    </div>
    <br /><br />
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Conversas sem CPF/CNPJ</a></li>
            <li><a href="#tabs-2">Conversas em andamento</a></li>
        </ul>
        <div id="tabs-1">
            <table class="footable" data-page-size="10">
                <caption>
                    &nbsp;&nbsp;&nbsp;&nbsp;Clientes sem CPF/CNPJ
                </caption>

                <thead>
                    <tr>
                        <th style="width:150px;">
                            Telefone Cliente
                        </th>
                        <th>
                            Nome Cliente
                        </th>
                        <th style="width:100px;">
                            CPF
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (WWeb.UI.WebformMVC.Models.Cliente item in cliente_sem_cpf)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TelefoneCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td style="width:30px; text-align:center;">
                            @Ajax.ActionImageLink("../Content/img/zap5.png", "Conversa", "BatePapo", new { @telefone_cliente = item.TelefoneCliente, @nome_cliente = item.NomeCliente, @telefone_orcozol = new WWeb.UI.WebformMVC.Models.WWebEntities().Telefones.Where(t => t.TelefoneCliente == item.TelefoneCliente).FirstOrDefault().TelefoneOrcozol, @cpf_cliente = item.Cpf }, "Visualização da Negociação")
                        </td>
                    </tr>
                    }
                </tbody>

                <tfoot class="hide-if-no-paging" style="text-align:center">
                    <tr>
                        <td colspan="8" style="height:30px; text-align:center; background-color:#cccccc; color:#444444; line-height:30px;">
                            Registro(s) Encontrado(s): @cliente_sem_cpf.Count().ToString("0000")
                            <div class="pagination pagination-centered"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="tabs-2">
            <table class="footable" data-page-size="10">
                <caption>
                    &nbsp;&nbsp;&nbsp;&nbsp;Negociações em andamneto
                </caption>

                <thead>
                    <tr>
                        <th style="width:150px;">
                            Telefone Cliente
                        </th>
                        <th>
                            Nome Cliente
                        </th>
                        <th style="width:180px;">
                            CPF
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (WWeb.UI.WebformMVC.Models.Cliente item in cliente_em_andamento)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TelefoneCliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeCliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cpf)
                            </td>

                            <td style="width:50px; text-align:center;">
                                @Ajax.ActionImageLink("../Content/img/zap5.png", "Conversa", "BatePapo", new { @telefone_cliente = item.TelefoneCliente, @nome_cliente = item.NomeCliente, @telefone_orcozol = new WWeb.UI.WebformMVC.Models.WWebEntities().Telefones.Where(t => t.TelefoneCliente == item.TelefoneCliente).FirstOrDefault().TelefoneOrcozol, @cpf_cliente = item.Cpf }, "Visualização da Negociação")
                                <a href="#" onclick="RemoverClienteAtendimento(@(item.TelefoneCliente))" title="Finalizar atendimento">
                                    <img src="~/Content/img/btn-delete.png" />
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

                <tfoot class="hide-if-no-paging" style="text-align:center">
                    <tr>
                        <td colspan="8" style="height:30px; text-align:center; background-color:#cccccc; color:#444444; line-height:30px;">
                            Registro(s) Encontrado(s): @cliente_em_andamento.Count().ToString("0000")
                            <div class="pagination pagination-centered"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>